#layout-footer {
  width: 100%;
  height: 50px;
  color: white;
  background: grey;
  padding: 5px 10px;
  display: flex; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
